html {
	margin: 20px;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

nav {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

a {
	margin-right : 10px;
	font-size: 20px;
	text-decoration: none;
	/*color: black ;*/
}

section {
	padding: 30px;
}

header {
	background-image: url('images/background.jpg');
	height: 750px;
}

.project-source{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}

.short-desc {
	font-size: 30px;
}
.source-code {
	padding-right: 50px;
}

.skill {
	font-size: 30px;
	color: #58C9B9;
	font-family: 'Baloo Thambi', cursive;
}

.col-nav {
  float: right;
  text-align: center;
}

.box {
	width: 350px;	
	height: 250px;
	margin: 40px;
}

.contact {
	background-color: #424242;
	color: white;
}