* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12, .col-nav {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


.col-1 {
  width: 33.33%
}

/* For mobile: */
.col-3, .col-4, .col-6, .col-12, .col-nav {
  width: 100%;
}

 /* For tablets: */
@media only screen and (min-width: 600px) { 
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%; margin: auto;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .proj-2, .proj-4 {display: flex;float: right;}
  .proj-img {order: 2;}
  .proj-detail {order: 1;}
}

@media only (max-width: 999px) and (min-width: 768px) {
  .profile-pic {height: 280px;}
  .col-6 {width: 50%; margin: auto;}
  .proj-2, .proj-4 {display: flex; }
  .proj-img {order: 2;}
  .proj-detail {order: 1;}
}

/* For desktop: */
@media only screen and (min-width: 1000px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4, .col-nav {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%; margin: auto;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .proj-2, .proj-4 {display: flex;}
  .proj-img {order: 2; }
  .proj-detail {order: 1;}
  
}