html {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}


a {
	margin-right : 10px;
	font-size: 20px;
	text-decoration: none;
	color: black ;
	-webkit-transform: scale(1);
  	transform: scale(1);
    -webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  	
}

section {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	margin: auto;
    max-width: 1200px;
}


main {
	border: 2px solid yellow;
}

header {
	overflow: hidden;
    background-size: cover;
	background-image: url('../images/background.jpg');
	height: 800px;
	width: 100%;
	margin-bottom: 70px;	
}

li {
	text-decoration: none;
	display: inline;
	color: #424242;
}

h2, ul {
	text-align: center
}

li {
	font-size:15px;
}

h1 {
	padding: 25px 25px 25px 0px;
}

.proj-img {
	margin: auto;
}
}

.project-source {
	font-size: 18px;
}

.header-content {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color: #424242; 
	padding: 10px;
	color:white;
	background: rgba(30, 30, 30, 0.7); 
}

.nav-link {
	margin-top: 50px;
	float: right;
}

.project {
	background-color: #f2f2f2;
	margin-bottom: 60px;
}

.short-desc {
	font-size: 30px;
}

.skill {
	font-size: 30px;
	color: #7db9ba;
	font-family: 'Baloo Thambi', cursive;
}

.abt-me {
	color: black;
	margin-top: 30px;
}

.col-nav {
  float: right;
  text-align: center;
}

.proj-details { 
	margin: 40px;
	text-align: left;
 }

.contact , .contact a{
	background-color: #424242;
	color: white;
	width: 100%;
}

.contact {
	height: 450px;
	padding-bottom: 30px;
	text-align: center;
}

.fa:hover {
	color: grey;
}

.proj-title a{
	margin: 10px;
}

.about-me {
	padding-left: 10px;
	font-size: 20px;
	text-align: left;
}
.email {
	color:#7db9ba ;
}

.fa-heart {
	color: #7db9ba;
}

.box:hover {
	 opacity:0.5;
}
.profile-pic {
	max-width: 350px;
	max-height: 400px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.me {
	overflow: hidden;
	border: 1px solid #7db9ba; 
}

.img-left {
	margin: auto;
}
