html {
	margin: 20px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

nav {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}

a {
	margin-right : 10px;
	font-size: 20px;
	text-decoration: none;
	color: black ;
	-webkit-transform: scale(1);
  	transform: scale(1);
    -webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

header {
	overflow: hidden;
    background-size: cover;
	background-image: url('../images/background.jpg');
	height: 800px;
	width: 100%;
	margin: 20px;
	margin-bottom: 70px;
}


li {
	text-decoration: none;
	display: inline;
}

h2, ul {
	text-align: center
}

li {
	/*padding: 5px;*/
	font-size:15px;
}

h1 {
	margin: 20px;
	padding: 25px;
}

nav a:hover {
	background-color: black;
	color: white;
  	-webkit-transform: scale(1.3);
  	transform: scale(1.3);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  	padding: 5px;
}
.project {
	background-color: #dddddd;
	margin: 20px
}

.short-desc {
	font-size: 30px;
}

.skill {
	font-size: 30px;
	color: #58C9B9;
	font-family: 'Baloo Thambi', cursive;
}

.abt-me {
	color: black;
	margin-top: 30px;
}

.col-nav {
  float: right;
  text-align: center;
}

.box {
	width: 350px;	
	height: 250px;
	margin: 40px;
}

.proj-details { 
	margin: 40px;
	text-align: center;
 }

.contact , .contact a{
	background-color: #424242;
	color: white;
	margin: 10px;
	padding: 20px;

}



.contact {
	height: 400px;
	padding-bottom: 90px;
	text-align: center;

	
}

.fa:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  	padding: 10px
}

.proj-title a{
	margin: 30px;
}


.about-me {
	font-size: 20px;
}


.fa-heart {
	color: #58C9B9;
}

.box:hover {
	 opacity:0.5;
}
